RewriteEngine on

# Redirect to another domain: aliyevasgar.herokuapp.com.
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^(www\.)?aliyevasgar\.herokuapp\.com$ [NC]
RewriteRule .* http://aliyevasgar.herokuapp.com%{REQUEST_URI} [R=301,L]
# Same for HTTPS:
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} !^(www\.)?aliyevasgar\.herokuapp\.com$ [NC]
RewriteRule .* https://aliyevasgar.herokuapp.com%{REQUEST_URI} [R=301,L]
<FilesMatch "\.(jpg|png|webp|svg|jpeg|)$">
Header set Cache-Control "public, proxy-revalidate, max-age=0"
</FilesMatch>