//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^aliyevasgar.herokuapp.com/[nc]
RewriteRule ^(.*)$ http://www.aliyevasgar.herokuapp.com//$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|png|webp|svg|jpeg|js|css|json|map)$">
Header set Cache-Control "public, max-age=0"
</FilesMatch>